Source: libdisplaycore-driver-goldelox
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libdisplaycore-driver-goldelox
Section: main
Architecture: all
XBSC-Group: DisplayCore
XBSC-Subgroup: Drivers
Depends: libdisplaycore-core
Provides: Goldelox.h
Description: 4D Goldelox driver for DisplayCore
 The Goldelox is a display driver chip for small displays from
 4D Systems.  This library communicates using the SCE2 protocol
 through a serial port.



